/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --color-bg: #FFF1F7;
  --color-text: #353430;
  --color-title: #FFC2E6;
  --color-selection-title: #353430;
  --color-theme-menu: #353430;
  --color-decor-rec: transparent;
  --accent-color: #FF8DCB;
  --accent-color-text: #353430;
  --accent-color-hover: rgba(53, 52, 48, 0.4);
  --bg-image: url(../images/cover-image-light.png);
}


@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #FFF1F7;
    --color-text: #353430;
    --color-title: #FFC2E6;
    --color-selection-title: #353430;
    --color-theme-menu: #353430;
    --color-decor-rec: transparent;
    --accent-color: #FF8DCB;
    --accent-color-text: #353430;
    --accent-color-hover: rgba(53, 52, 48, 0.4);
    --bg-image: url(../images/cover-image-light.png);
  }
}